<!DOCTYPE html>

<head>

  <title>Austin Web Dev Bootcamps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#000000">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Austin Web Dev Bootcamps</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#topics">TOPICS</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#login">LOG IN</a></li>
        <!-- <li><a href="#prepQuiz">PREP QUIZZES</a></li> -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">SCHOOL LINKS
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://generalassemb.ly/">General Assembly</a></li>
            <li><a href="http://www.galvanize.com/">Galvanize</a></li>
            <li><a href="http://www.makersquare.com/">MakerSquare</a></li>
            <li><a href="http://theironyard.com/">The Iron Yard</a></li>  
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/Austin+Skyline+-+BG.jpg" alt="Austin" width="1200" height="600">
        <div class="carousel-caption">
          <h3>Austin</h3>
          <p>Live Here, Code Here!</p>
        </div>      
      </div>

      <div class="item">
        <img src="images/cap.jpg" alt="CongressAve" width="1200" height="600">
        <div class="carousel-caption">
          <h3>Code in the Capital City</h3>
          <p>Home for Bootcampers</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="images/aerialviewzilker.jpg" alt="Zilker" width="1200" height="600">
        <div class="carousel-caption">
          <h3>Zilker Park</h3>
          <p>Take a break from coding</p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<div id="Intro" class="container text-center">
  <h3>Learn To Code</h3>
  <p><em>The hands on help you need is here in Austin</em></p>
  <p>The online space is saturated with excellent tutorials on every aspect of coding - so why take a bootcamp?  Not only do you need coding skills to launch your career in the web development world, you need a community of support and contacts. Let's look at the current available options.</p>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <p class="text-center"><strong>General Assembly</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="images/ga-logo-2-compressor.png" class="img-circleperson" alt="GA" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Web Development Immersive</p>
        <p>User Experience Immersive</p>
        <p>Andriod and Product Mgmt - Coming Soon</p>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>MakerSquare</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="images/makersquare-logo.png" class="img-circleperson" alt="MakerSquare" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Javascript Focused</p>
        <p>A Hack Reactor Core School</p>
        <p>Advertised as Highly Selective</p>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>Iron Yard</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="images/the-iron-yard-logo.png" class="img-circleperson" alt="IronYard" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Front End Engineering</p>
        <p>Rails Engineering</p>
        <p>User Interface Design</p>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="text-center"><strong>Galvanize</strong></p><br>
      <a href="#demo4" data-toggle="collapse">
        <img src="images/1982192-823446997671475-891607919-n.png" class="img-circleperson" alt="GA" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p>Full Stack 6 mth Immersive</p>
        <p>Data Science 3 mth Immersive</p>
        <p>MEAN Stack focused</p>
      </div>
    </div>
  </div>
</div>
<br>


<div id="API" class="container text-center">
  <h2>Austin Job Boards</h2>
<div class="row" align="center"><!-- BEGIN INDEED SALARY GRAPH -->
  <div style="width:196px;">
  <div style="border:1px solid #ccc;padding: 1px; margin: 0 0 3px 0">
  <table cellpadding="0" cellspacing="0" style="border:0;padding:0;margin:0;width:100%;">
  <tr>
  <td style="background-color: #eee; padding: 4px 6px; border: 0;border-right:1px solid #fff; width: 50%; text-align: right;"><p style="color: #000; font: bold 10px/1.2 Arial, Helvetica, sans-serif;margin: 0; padding: 0; border: 0;"><a href="http://www.indeed.com/jobs?sid=salary&q=web+developer+in+Austin%2C+TX" style="text-decoration:underline; color:#00c; background-color: transparent;">web developer in Austin, TX</a> <span style="display:block;">$83,000</span></p></td>
  <td style="width: 50%;background-color:#f8f8f8;"><div style="height: 20px; margin: 0; margin-top: 2px; width: 79%; background-color: #ff6600;"></div></td>
  </tr>
  </table>
  </div>
  <p style="font: normal 10px/1.2 Arial, Helvetica, sans-serif; color: #000; margin: 0; padding: 0; border: 0; text-align: center;"><a style="text-decoration:underline; color:#00c; background-color: transparent;" href="http://www.indeed.com/salary/q-Web-Developer-l-Austin,-TX.html">View Larger Salary Graph</a></p>
  </div>
  <!-- END INDEED SALARY GRAPH -->
</div>
 <div class="row">
    <div class="col-sm-12" align="center">
      <h4>Indeed</h4>
       <style type='text/css'>#indJobContent{padding-bottom: 5px;}#indJobContent .company_location{font-size: 11px;overflow: hidden;display:block;}#indJobContent.wide .job{display:block;float:left;margin-right: 5px;width: 135px;overflow: hidden}#indeed_widget_wrapper{position: relative;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 13px;font-weight: normal;line-height: 18px;padding: 10px;height: auto;overflow: hidden;}#indeed_widget_header{font-size:18px; padding-bottom: 5px; }#indeed_search_wrapper{clear: both;font-size: 12px;margin-top: 5px;padding-top: 5px;}#indeed_search_wrapper label{font-size: 12px;line-height: inherit;text-align: left; margin-right: 5px;}#indeed_search_wrapper input[type='text']{width: 100px; font-size: 11px; }#indeed_search_wrapper #qc{float:left;}#indeed_search_wrapper #lc{float:right;}#indeed_search_wrapper.stacked #qc, #indeed_search_wrapper.stacked #lc{float: none; clear: both;}#indeed_search_wrapper.stacked input[type='text']{width: 150px;}#indeed_search_wrapper.stacked label{display: block;padding-bottom: 5px;}#indeed_search_footer{width:295px; padding-top: 5px; clear: both;}#indeed_link{position: absolute;bottom: 1px;right: 5px;clear: both;font-size: 11px; }#indeed_link a{text-decoration: none;}#results .job{padding: 1px 0px;}#pagination { clear: both; }</style><style type='text/css'>
#indeed_widget_wrapper{ width: 300px; height: 250px; background: #FFFFFF;}
#indeed_widget_wrapper{ border: 1px solid #DDDDDD; }
#indeed_widget_wrapper, #indeed_link a{ color: #000000;}
#indJobContent, #indeed_search_wrapper{ border-top: 1px solid #DDDDDD; }
#indJobContent a { color: #00c; }
#indeed_widget_header{ color: #000000; }
</style>
<script type='text/javascript'>
var ind_pub = '7328473505830004';
var ind_el = 'indJobContent';
var ind_pf = '';
var ind_q = 'web developer';
var ind_l = 'austin, tx';
var ind_chnl = 'none';
var ind_n = 4;
var ind_d = 'http://www.indeed.com';
var ind_t = 40;
var ind_c = 30;
</script>
<script type='text/javascript' src='http://www.indeed.com/ads/jobroll-widget-v3.js'></script>
<div id='indeed_widget_wrapper' style=''>
<div id='indeed_widget_header'>Jobs from Indeed</div>

<div id='indJobContent' class=""></div>

<div id='indeed_search_wrapper'>
<script type='text/javascript'>
function clearDefaults() {
var formInputs = document.getElementById('indeed_jobform').elements;
for(var i = 0; i < formInputs.length; i++) {
if(formInputs[i].value == 'title, keywords' || formInputs[i].value == 'city, state, or zip') {
formInputs[i].value = '';
}
}
}
</script>
<form onsubmit='clearDefaults();' method='get' action='http://www.indeed.com/jobs' id='indeed_jobform' target="_new">
<div id="qc"><label>What:</label><input type='text' onfocus='this.value=""' value='title, keywords' name='q' id='q'></div>
<div id="lc"><label>Where:</label><input type='text' onfocus='this.value=""' value='city, state, or zip' name='l' id='l'></div>
<div id='indeed_search_footer'>
<div style='float:left'><input type='submit' value='Find Jobs' class='findjobs'></div>
</div>
<input type='hidden' name='indpubnum' id='indpubnum' value='7328473505830004'>
</form>
</div>

<div id='indeed_link'>
<a title="Job Search" href="http://www.indeed.com/" target="_new">jobs by <img alt=Indeed src='http://www.indeed.com/p/jobsearch.gif' style='border: 0;vertical-align: bottom;'>
</a>
</div>
</div>
                            
        
    </div>
  </div>
</div>    
    <!-- </div>
    <div class="col-sm-4">
      <p>Dice</p>
    </div>
    <div class="col-sm-4">
      <p>AngelList</p>
    </div> -->
    <br>


<!-- Container (Dates Section) -->
<!-- <div id="dates" class="bg-1">
  <div class="container">
    <h3 class="text-center">Upcoming Immersive Dates</h3>
    <p class="text-center">Applications require Interviews and Prep Work.<br> Remember to start early!<br><br></p>
    <ul class="list-group">
      <li class="list-group-item">January</li>
      <li class="list-group-item">February</li> 
      <li class="list-group-item">March<span class="badge">3</span></li> 
    </ul>
  </div>   -->
<div id="charts" class="container text-center">    
    <div class="row">
      <div class="col-sm-6">
        <div class="chart">
          <img src="images/Most-In-Demand-Programming-Jobs.png" alt="chart1" width="400" height="300">
          <p><strong>Most In Demand Programming Languages of 2015</strong></p>
          <p>*curtesy of Dice.com data</p>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="chart">
          <img src="images/skillgraph.jpg" alt="skillgraph" width="400" height="300">
          <p><strong>Jobs Require Multiple Skillsets</strong></p>
          <p>*via skilledup.com</p>
        </div>
      </div>
     </div> 
  </div>
</div>   
    <br>

    

    <div class="row">
      <div id="googleMap">Area Bootcamp Locations</div>
      <br>
      <!-- Add Google Maps -->
      <div class="col-sm-10">
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script>
  var myCenter = new google.maps.LatLng(30.268603, -97.743202);
  // var myCenter = new google.maps.LatLng(30.227714, -97.759925);
  // var myCenter = new google.maps.LatLng(30.2500, -97.7500);
  // var myCenter = new google.maps.LatLng(30.2500, -97.7500);
  

  function initialize() {
  var mapProp = {
  center:myCenter,
  zoom:12,
  scrollwheel:false,
  draggable:false,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var marker = new google.maps.Marker({
  position:myCenter,
  });

  marker.setMap(map);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <script>
  $(document).ready(function(){
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip(); 
    
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
     
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    });
  })
  </script>
</div>

 <div id="Blog" class="container">
  <h3 class="text-center">From The Blog - Under Construction</h3>  
  </div>
</div>


<!-- Container (Contact Section) -->

    
  </div>
</div>
  <br>

<footer class="text-center"> 

  <div class="row">
    <div id="contact" class="col-md-6">
      
      <h5>Contact</h5>
      <p><span class="glyphicon glyphicon-envelope"></span></p>
      <p>austinwebdevbootcamps@gmail.com</p>    
    </div>

    <div class="col-md-6">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <p>TO TOP<p> 
    <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    
    <br>
    <p>Created by Kim Dilling</p> 
  
    </div>
  </div>
</footer>
</div>
</body>
</html>
